@function pow($number, $exp) {
  $value: 1;

  @for $i from 1 through $exp {
    $value: $value * $number;
  }

  @return $value;
}

.gridset {
  .grid {
    display: inline-block;
  }
}

.visible.fragment {
  .grid {
    margin-top: 90px;

    .row {
      margin-bottom: 25px;

      &.inline {
        display: inline-block;

        .tile {
          .hexagon {
            font-size: 50px;
            font-family: 'hexagon-only', sans-serif;
          }

          .number {
            font-size: 28px;
            left: 6px;
            top: 6px;
            width: 33px;
          }
        }

      }

      .tile {
        position: relative;
        display: inline-block;

        .hexagon, .number {
          opacity: 0.7;
          animation-name: fade-in;
          animation-fill-mode: backwards;
          animation-duration: 0.5s;
          animation-timing-function: cubic-bezier(0.82, 0.7, 0.6, 1.56);
          transition: opacity 0.2s;

          &.flashed {
            opacity: 1;
          }
        }

        .hexagon {
          position: relative;
          display: inline-block;
          font-size: 100px;
          font-family: 'hexagon-only', sans-serif;
          line-height: 0;
          color: transparent;
          -webkit-text-stroke: 3px white;
        }

        .number {
          display: inline-block;
          left: 20px;
          top: -12px;
          height: 100px;
          width: 50px;
          text-align: center;
          vertical-align: middle;
          position: absolute;
        }

        @for $i from 1 through 19 {
          &.tile-#{$i} > .hexagon, &.tile-#{$i} > .number {
            animation-delay: 0.07s * pow(1.2, $i);
          }
        }
      }

      .counter {
        color: #AAA;
        display: inline-block;
        position: relative;
        width: 0;
        font-weight: 800;
        bottom: 12px;
        left: 10px;
        opacity: 0;

        &.visible {
          opacity: 1;
          transition: opacity 0.5s;

          &.correct {
            color: #00ff00;
          }
        }
      }
    }
  }

  .score {
    font-size: 2em;
  }
}

body {
  transition: background 0.5s, -webkit-transform 0.8s ease !important;

  h2 {
    transition: color 0.5s !important;
  }
}

.white {
  body {
    background: white;

    h2 {
      color: black;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

#countdown > p {
  font-size: 8em;
}

#equation {
  background: none;
  border: none;
  box-shadow: none;
}
